:root {
  --color-pink: #e94057;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Sk-Modernist';
  src: url('//db.onlinewebfonts.com/t/d8a28611cf5f5d635071f2d90d9e9cc8.eot');
  src: url('//db.onlinewebfonts.com/t/d8a28611cf5f5d635071f2d90d9e9cc8.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/d8a28611cf5f5d635071f2d90d9e9cc8.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/d8a28611cf5f5d635071f2d90d9e9cc8.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/d8a28611cf5f5d635071f2d90d9e9cc8.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/d8a28611cf5f5d635071f2d90d9e9cc8.svg#Sk-Modernist')
      format('svg');
}

button {
  cursor: pointer;
}

#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-pink {
  background: var(--color-pink);
}

.text-pink {
  color: var(--color-pink);
}

.text-bold {
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 500px;
  height: 800px;

  margin-top: -2.5rem;
}

.text-modernist {
  font-family: 'Sk-Modernist';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.btn-primary {
  height: 45px;
  width: 295px;
  border-radius: 16px;

  border: none;
  outline: none;
  cursor: pointer;

  font-family: 'Sk-Modernist';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 8px;
}
