.content .details .info .title {
  margin-top: 2.5rem;
  display: block;
  font-family: 'Sk-Modernist';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  text-align: center;
}

.content .details .footer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: absolute;
  bottom: 0;
}

.content .details .logo {
  margin-top: -4rem;
}
